.answer-complete-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #B4B3FF 0%, #B4B3FF 25%, #B3E2FF 81%, #B3FAFF 100%);
  position: relative;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

.answer-complete-card {
  position: absolute;
  left: 603px; 
  top: 165px;
  width: 714px;
  height: 326px; 
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.answer-complete-title {
  position: absolute;
  top: 113px;
  left: 50%;
  transform: translateX(-50%);
  
  font-weight: 500;
  font-size: 40px;
  line-height: 32px;
  letter-spacing: -0.8px;
  text-align: center;
  color: #222;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.answer-complete-desc {
  position: absolute;
  top: 227px;
  left: 50%;
  transform: translateX(-50%);
  
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24.1313px;
  line-height: 24.1313px;
  text-align: center;
  color: #6a6a6a;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}


.answer-complete-gif {
  position: absolute;
  top: 230px;
  left: 50%;
  transform: translateX(-50%); 
  width: 900px;
  height: 900px;
  object-fit: contain;
}